<!--
  Generated template for the ExchangePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Exchange</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-item>
    <ion-label stacked>Wallet</ion-label>
    <ion-input type="text" placeholder="wallet" [(ngModel)]="conta"></ion-input>
  </ion-item>
  <ion-item>
    <button ion-button round full (click)="consultaSaldo()">Consultar saldo</button>
  </ion-item>  
  
  <ion-item *ngIf="contaObj.account_name">
    <ion-card-header>
      {{ contaObj.account_name }}
    </ion-card-header>

    <ion-card-content>
      {{ saldoeos }} EOS<br />
      {{ saldojungle }} JUNGLE
    </ion-card-content>
  </ion-item>
  <ion-item *ngIf="contaObj.account_name">
    <ion-label>Quantidade EOS - {{ quantidadeeos }}</ion-label>
    <ion-range min="0" max="{{saldoeos}}" [(ngModel)]="quantidadeeos" color="secondary">
      <ion-label range-left>0</ion-label>
      <ion-label range-right>{{saldoeos}}</ion-label>
    </ion-range>
  </ion-item>

  <ion-item *ngIf="contaObj.account_name">
    <ion-label>Quantidade JUNGLE - {{ quantidadejungle }}</ion-label>
    <ion-range min="0" max="{{saldojungle}}" [(ngModel)]="quantidadejungle" color="secondary">
      <ion-label range-left>0</ion-label>
      <ion-label range-right>{{saldojungle}}</ion-label>
    </ion-range>
  </ion-item>

  <ion-item *ngIf="contaObj.account_name">
    <button ion-button round full>Destruir tokens</button>
  </ion-item>

</ion-content>