<!--
  Generated template for the TransferenciaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Transferência de tokens</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-item>
    <ion-label stacked>Account Origem</ion-label>
    <ion-input type="text" [(ngModel)]="conta" placeholder="wallet"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>Nome token</ion-label>
    <ion-input type="text" [(ngModel)]="token" placeholder="Nome token"></ion-input>
  </ion-item>
  <ion-item>
    <button ion-button round full (click)="getBalance()">Consultar saldo</button>
  </ion-item>

  <ion-item *ngIf="contaObj.account_name">
    <ion-card-header>
      {{ contaObj.account_name }}
    </ion-card-header>

    <ion-card-content *ngIf="quantidadetoken">
      {{ quantidadetoken[0]}}
    </ion-card-content>
  </ion-item>
  <ion-item *ngIf="quantidadetoken!=''">
    <ion-label>Quantidade {{ token }}</ion-label>
    <ion-range min="0" max="{{ quantidadetoken[0] | saldoTokenPipe }}" [(ngModel)]="quantidade" color="secondary">
      <ion-label range-left>0</ion-label>
      <ion-label range-right>{{quantidadetoken[0] | saldoTokenPipe}}</ion-label>
    </ion-range>
  </ion-item>
  <ion-item>
    <ion-label stacked>Quantidade</ion-label>
    <ion-input type="text" [(ngModel)]="quantidade" placeholder="Quantidade token"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>Account Destino</ion-label>
    <ion-input type="text" [(ngModel)]="contaDestino" placeholder="wallet"></ion-input>
  </ion-item>



  <ion-item>
    <button ion-button round full (click)="confirmaTransferencia()">Transferir tokens</button>
  </ion-item>

</ion-content>